@font-face {
  font-family: "Nunito";
  src: url(./Nunito-VariableFont_wght.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --glass-background: #a9e3d0b2;
  --background: #a9e3d0;
  --page-color: #e9e9ed;
  --scroll-bar-color: #7dad9d;
  --hover-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
  user-select: none;
}

::-webkit-scrollbar {
  height: 100%;
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 10px;
}

*::selection {
  color: white;
  background-color: var(--background);
  -webkit-user-drag: none;
}

.hover:hover {
  color: var(--hover-color);
  transition: color 0.3s ease-out;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#header {
  height: 10vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--page-color);
  box-shadow: 0px 4px 10px gray;
  padding: 0 2rem 0 1rem;
  z-index: 3;
}

#header #logo {
  height: 100%;
  width: 10rem;
}

#header #logo img {
  height: 4rem;
  width: 4.5rem;
  margin-top: 0.5em;
  user-select: none;
  -webkit-user-drag: none;
}

#header #logo .logo-name {
  height: 100%;
  width: 12rem;
  position: absolute;
  top: 0;
  left: 4.7rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  line-height: 1;
}

#header #logo .logo-name h3,
h5 {
  font: bold;
}

#header #menu {
  height: fit-content;
  width: fit-content;
  background-color: var(--background);
  display: flex;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  border-radius: 50px;
  gap: 25px;
}

#header #menu a .btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

#mobile-menu {
  display: none;
}
.mobile-menu-container {
  display: none;
}
.menu-open-close {
  display: none;
}

#main {
  height: 100%;
  width: 100%;
  background-color: var(--page-color);
}

#main .page1 {
  height: 100%;
  width: 100%;
  position: relative;
}

#main .page .book-image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main .page1 .book-image img {
  height: 78%;
  width: auto;
  opacity: 0.3;
  user-select: none;
  -webkit-user-drag: none;
}

#main .heading {
  height: fit-content;
  width: fit-content;
  position: absolute;
  z-index: 1;
  font-size: 5rem;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

#main p {
  height: fit-content;
  width: 80%;
  text-align: center;
  position: absolute;
  z-index: 1;
  letter-spacing: 0.1em;
  word-spacing: 0.5em;
  top: 45%;
  left: 50%;
  font-size: 1.3rem;
  transform: translateX(-50%);
}

#main .line-container {
  position: absolute;
  z-index: 1;
  top: 74%;
  left: 50%;
}

#main .line-container .line {
  height: 3px;
  width: 32rem;
  transform: translateX(-50%);
  background-color: black;
}

#main .line-container .circ {
  height: 2vh;
  width: 2vh;
  position: absolute;
  z-index: 1;
  top: -0.4rem;
  border-radius: 50%;
  background-color: black;
}

#main .line-container .circ1 {
  left: -16rem;
}

#main .line-container .circ2 {
  right: 16rem;
}

#main button {
  color: white;
  background-color: var(--background);
  border-radius: 50px;
  border: 1.6px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#main .explore-btn {
  position: absolute;
  z-index: 1;
  top: 83%;
  left: 50%;
  font-size: 2rem;
  padding: 1.2rem 4.5rem 1.2rem 4.5rem;
  transform: translateX(-50%);
}

#main .page .bottom-img-container {
  height: 22vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.8rem 0.3rem 1.8rem;
  opacity: 0.85;
}

#main .page .bottom-img-container img {
  height: 100%;
  width: auto;
  user-select: none;
  -webkit-user-drag: none;
}

/* ********************************* PAGE 2 ********************************* */

.page2 {
  min-height: 100%;
  width: 100%;
  /* padding-top: 6rem; */
  background-color: var(--page-color);
}

.page2 > h2 {
  height: fit-content;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  /* margin-top: 2rem; */
}

.popular-subscriptions{
  margin-top: 2rem;
}

.page2 .classes {
  min-height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1.5rem 2rem 0 2rem;
}

.page2 .classes .class {
  height: 30vh;
  width: 30vw;
  background: var(--background);
  backdrop-filter: blur(10px);
  border: 1.6px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding-top: 0.7rem;
}

.page2 .classes .class .classno-container {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.page2 .classes .class .classno {
  height: fit-content;
  width: fit-content;
}

.page2 .classes .class .subjects {
  height: 60%;
  width: 100%;
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0 2rem 0 2rem;
}

.page2 .classes .class .subjects .subject {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page2 .classes .class .subjects .subject a {
  text-decoration: none;
  color: black;
}

.page2 .classes .class .subjects .subject a:hover {
  color: var(--hover-color);
}

.card {
  position: relative;
  overflow: hidden;
  padding-left: 2rem;
  height: 17rem !important;
  /* width: 22rem !important; */

}

.card:hover,
.class:hover {
  transform: translateY(-5%);
  transition: transform 0.3s ease-out;
}

.card .price {
  height: 3rem;
  width: 8rem;
  background-color: rgb(69, 195, 44);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0 15px;
}

.card .price h4 {
  font-size: 1.4rem;
  color: white;
}

.card .chapter {
  max-width: 90%;
  height: fit-content;
  font-size: 2rem;
  margin-top: 3rem;
}

.allChapters .chapter {
  height: 23rem;
}

.allChapters .chapter .chapter-content .topics {
  height: 16rem;
  min-width: 19rem;
  overflow-y: scroll;
}

.card .sub-topic {
  font-size: 1rem;
  height: fit-content;
  max-width: 90%;
}

.card .join-btn {
  position: absolute;
  bottom: 1rem;
  left: 35%;
  font-size: 1.1rem;
  padding: 0.6rem 1.5rem 0.6rem 1.5rem;
}

.card .join-btn:hover {
  scale: 1.15;
  background-color: rgb(69, 195, 44) !important;
  transition: all 0.3s ease-out;
}

/* ***************************** PAGE 3 ********************************** */

#main .page3 {
  height: 100vh;
  width: 100vw;
  background-color: var(--page-color);
  position: relative;
  box-shadow: inset 0px -10px 12px rgba(0, 0, 0, 0.14);
}

#main .about {
  border-bottom: 7px solid black;
  border-radius: 10px;
}

#main .about-para {
  top: 38%;
}

#main .about-para-line {
  top: 80%;
}

#main .page3 .book-image img {
  height: 78%;
  width: auto;
  opacity: 0.3;
  user-select: none;
  -webkit-user-drag: none;
}
/* ***************************** FOOTER STARTS ********************************* */

#footer {
  height: fit-content;
  width: 100%;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem 0 5rem;
}

#footer .contact-us {
  height: 78%;
  width: 18rem;
  padding: 1.4rem;
}

#footer .contact-us .contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

#footer .contact-us .contact-details {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  gap: 20px;
}

#footer .contact-us .contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#footer .contact-us img {
  height: 2rem;
  width: 2rem;
  user-select: none;
  -webkit-user-drag: none;
}

#footer h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#footer .social-platforms {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#footer .social-platforms .platform {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#footer .social-platforms .platform img {
  height: 2rem;
  user-select: none;
  -webkit-user-drag: none;
}

#footer .social-platforms .platform h4 {
  font-size: 1.4rem;
}

#footer .what-offer {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer .what-offer .offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#footer .what-offer .offers h4 {
  font-size: 1.2rem;
}

/* ********************** CLASS ********************** */

#class-main {
  min-height: 90%;
  width: 100%;
  background-color: var(--page-color);
}

#class-main > h2 {
  height: fit-content;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  padding-top: 10rem;
}

#class-main .classes {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 2rem 2rem 4rem 2rem;
  flex-wrap: wrap;
  gap: 30px;
}

#class-main .classes .class {
  min-height: 40vh;
  width: 30vw;
  background: var(--background);
  backdrop-filter: blur(10px);
  border: 1.6px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding-top: 0.7rem;
  padding-bottom: 1.5rem;
}

#class-main .classes .class .chapter-title-container {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

#class-main .classes .class .chapter-title {
  height: fit-content;
  width: 80%;
  text-align: center;
}

#class-main .classes .class .chapter-content {
  height: fit-content;
  width: fit-content;
  margin-top: 1.8rem;
  padding: 0 2rem 0 4rem;
}
#class-main .classes .class .chapter-content ol li {
  margin-top: 0.8rem;
}

#class-main .classes .class .chapter-content ol li a {
  text-decoration: none;
  color: black;
}

#class-main .classes .class .subjects .subject {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#class-main .classes .class .subjects .subject a {
  text-decoration: none;
  color: black;
}

#class-main .classes .class .subjects .subject a:hover {
  color: var(--hover-color);
}

/* *************************** LOGIN PAGE ******************************** */

#login-main {
  height: 100%;
  width: 100%;
  background-color: var(--page-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.login-container {
  height: 90%;
  width: 32%;
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 50px;
  border: 1.6px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 3rem;
}

.login-container > h3 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 3.2rem;
}

.login-container .user-login{
  height: 4.5rem;
  width: auto;
}

.login-container > h4{
  margin-left: 4.8rem;
}

.input-fields {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background);
  backdrop-filter: blur(10px);
  border: 1.6px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  gap: 20px;
}

.input-fields .input-bar {
  height: 2rem;
  width: 80%;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 10px;
  border: 1px solid gray;
}

.input-fields h3 {
  font-size: 2rem;
  color: white;
}

.input-fields button {
  padding: 0.4rem 3rem 0.4rem 3rem;
  color: rgb(0, 0, 0);
  background-color: var(--background);
  border-radius: 50px;
  border: 1.6px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 1.2rem;
}

.login-container h4 {
  margin-top: 1.3rem;
  font-size: 1rem;
}


/* ************************** Subscription Page ************************* */

#subscription-main {
  min-height: 100vh;
  width: 100%;
  background-color: var(--page-color);
  padding-bottom: 4rem;
  padding-top: 4rem;
}
/* .subscription-main > h2 .main-title {
  text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 2.5rem;
    padding: 15px;
    margin: 3.5rem auto;
    display: block;
    width: 100%;
    z-index: 1;
    max-width: 800px;
} */

.subscription-cards { 
  min-height: 100%;
  width: 100%;
  padding: 3rem 2rem 5rem 2rem;
  display: flex;
  justify-content: start;
  gap: 30px;
  flex-wrap: wrap;
}

.subscription-card {
  min-height: 45vh;
  width: 30vw;
  background: var(--background);
  backdrop-filter: blur(10px);
  border: 1.6px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 1.8rem 0 0 2.2rem;
  overflow: hidden;
}
.subscription-card .price {
  height: 2.6rem;
  width: 6.9rem;
  background-color: rgb(69, 195, 44);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0 15px;
}

.subscription-card .price h4 {
  font-size: 1.2em;
  color: white;
}

.subscription-card .chapter {
  max-width: 90%;
  height: fit-content;
  font-size: 2rem;
  margin-top: 3rem;
}

.subscription-card .sub-topic {
  font-size: 1rem;
  height: fit-content;
  max-width: 90%;
}

.subscription-card .join-btn {
  position: absolute;
  bottom: 1.3rem;
  left: 34%;
  font-size: 1.1rem;
  padding: 0.6rem 1.5rem 0.6rem 1.5rem;
  color: rgb(0, 0, 0);
  background-color: var(--background);
  border-radius: 50px;
  border: 1.6px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.subscription-card .join-btn:hover {
  scale: 1.15;
  background-color: rgb(69, 195, 44) !important;
  transition: all 0.3s ease-out;
}
.explore-subscriptions{
  margin: auto;
}

.explore-subscriptions > button{
  height: 4rem;
  width: 16rem;
  font-size: 1.2rem;
}


/* ******************** MEDIA QUERIES ******************* */

@media (max-width: 400px) {
  html,
  body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  #header {
    height: 9vh;
    width: 100vw;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    background-color: var(--page-color);
    box-shadow: 0px 4px 10px gray;
    padding: 0 2rem 0 1rem;
    z-index: 3;
  }

  #header #logo {
    height: 100%;
    width: 10rem;
  }

  #header #logo img {
    height: 4rem;
    width: 4rem;
    margin-top: 0.4em;
    margin-left: -0.6em;
    user-select: none;
    -webkit-user-drag: none;
  }

  #header #logo .logo-name {
    height: 100%;
    width: 12rem;
    position: absolute;
    top: 0;
    left: 4.1rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    line-height: 1;
  }

  #header #menu {
    height: fit-content;
    width: fit-content;
    background-color: var(--background);
    display: none;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    border-radius: 50px;
    gap: 25px;
  }

  #header #menu a .btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .mobile-menu-container {
    position: absolute;
    height: 20rem;
    width: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    display: none;
    z-index: 0;
  }

  .menu-open-close {
    height: 2.8rem;
    width: 2.8rem;
    position: absolute;
    top: 0.75rem;
    right: 20px;
    z-index: 3;
    background: var(--glass-background);
    backdrop-filter: blur(10px);
    border: 1.5px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-open-close img {
    height: 70%;
    width: 70%;
    user-select: none;
    -webkit-user-drag: none;
  }

  #header #mobile-menu {
    height: 0rem;
    width: 100%;
    background: var(--glass-background);
    backdrop-filter: blur(10px);
    border: 1.6px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px -4px 6px inset rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    opacity: 1;
  }
  #header #mobile-menu a .btn {
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
  }

  /* **************************** HEADER END *************************** */

  #main {
    height: 100%;
    width: 100%;
    background-color: var(--page-color);
  }

  #main .page1 {
    height: 40vh;
    width: 100%;
    position: relative;
  }

  #main .page .book-image {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
  }

  #main .page1 .book-image img {
    height: 78%;
    width: auto;
    opacity: 0.3;
    user-select: none;
    -webkit-user-drag: none;
  }

  #main .heading {
    height: 15rem;
    width: fit-content;
    position: absolute;
    z-index: 1;
    font-size: 3.2rem;
    line-height: 1;
    letter-spacing: 0.1em;
    text-align: center;
    top: 35%;
    left: 44%;
    transform: translateX(-40%);
  }

  #main p {
    height: fit-content;
    width: 80%;
    text-align: center;
    position: absolute;
    z-index: 1;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
    top: 45%;
    left: 50%;
    font-size: 1.3rem;
    transform: translateX(-50%);
    display: none;
  }

  #main .line-container {
    position: absolute;
    z-index: 1;
    top: 74%;
    left: 50%;
    display: none;
  }

  #main .line-container .line {
    height: 3px;
    width: 32rem;
    transform: translateX(-50%);
    background-color: black;
  }

  #main .line-container .circ {
    height: 2vh;
    width: 2vh;
    position: absolute;
    z-index: 1;
    top: -0.4rem;
    border-radius: 50%;
    background-color: black;
  }

  #main .line-container .circ1 {
    left: -16rem;
  }

  #main .line-container .circ2 {
    right: 16rem;
  }

  #main button {
    color: white;
    background-color: var(--background);
    border-radius: 50px;
    border: 1.6px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  #main .explore-btn {
    position: absolute;
    z-index: 1;
    top: 22rem;
    left: 23%;
    font-size: 1rem;
    padding: 0.7rem 5rem 0.7rem 5rem;
    transform: translateX(-15%);
  }

  /* **************************** PAGE 2 *************************** */

  .page2 {
    min-height: 105rem;
    width: 100%;
    padding-top: 6rem;
    background-color: var(--page-color);
    box-shadow: inset 0px -10px 12px rgba(0, 0, 0, 0.14);
  }

  .page2 > h2 {
    height: fit-content;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    /* margin-top: 2rem; */
  }

  .page2 .classes {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    flex-wrap: wrap;
    gap: 20px;
  }

  .page2 .classes .class {
    height: 18rem;
    width: 50vh;
    background: var(--background);
    backdrop-filter: blur(10px);
    border: 1.6px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding-top: 0.7rem;
  }

  .page2 .classes .class .classno-container {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
  }

  .page2 .classes .class .classno {
    height: fit-content;
    width: fit-content;
  }

  .page2 .classes .class .subjects {
    height: 60%;
    width: 100%;
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0 2rem 0 2rem;
  }

  .page2 .classes .class .subjects .subject {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card {
    position: relative;
    overflow: hidden;
    padding-left: 2rem;
  }

  /* .card:hover,
    .class:hover {
        transform: translateY(-5%);
        transition: transform 0.3s ease-out;
    } */

  .card .price {
    height: 2.6rem;
    width: 6.9rem;
    background-color: rgb(69, 195, 44);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 15px;
  }

  .card .price h4 {
    font-size: 1.1rem;
    color: white;
  }

  .card .chapter {
    max-width: 90%;
    height: fit-content;
    font-size: 1.5rem;
    margin-top: 2.6rem;
  }

  .card .sub-topic {
    font-size: 0.8rem;
    height: fit-content;
    max-width: 90%;
  }

  .card .join-btn {
    position: absolute;
    bottom: 1rem;
    left: 5.2rem;
    font-size: 1rem;
    padding: 0.4rem 1.5rem 0.4rem 1.5rem;
  }

  .card .join-btn:hover {
    scale: 1.15;
    background-color: rgb(69, 195, 44) !important;
    transition: all 0.3s ease-out;
  }

  /* ***************************** PAGE 3 *************************** */

  #main .page3 {
    height: 100vh;
    width: 100vw;
    background-color: var(--page-color);
    position: relative;
    box-shadow: inset 0px -10px 12px rgba(0, 0, 0, 0.14);
    display: none;
  }

  #main .about {
    border-bottom: 7px solid black;
    border-radius: 10px;
  }

  #main .about-para {
    top: 38%;
  }

  #main .about-para-line {
    top: 80%;
  }

  #main .page3 .book-image img {
    height: 78%;
    width: auto;
    opacity: 0.3;
    user-select: none;
    -webkit-user-drag: none;
  }

  /* ***************************** FOOTER STARTS ********************************* */

  #footer {
    height: fit-content;
    width: 100%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem 2rem 3rem;
    flex-wrap: wrap;
  }

  #footer .contact-us {
    height: 100%;
    width: 16rem;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  #footer .contact-us .contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
  }

  #footer .contact-us .contact-details {
    height: 100%;
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: start;
    line-height: 1.2;
    gap: 20px;
  }

  #footer .contact-us .contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  #footer .contact-us img {
    height: 2rem;
    width: 2rem;
    user-select: none;
    -webkit-user-drag: none;
  }

  #footer h3 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  #footer .social-platforms {
    height: 100%;
    width: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 3rem;
  }

  #footer .social-platforms .platform {
    height: 100%;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
  }

  #footer .social-platforms .platform img {
    height: 2rem;
    user-select: none;
    -webkit-user-drag: none;
  }

  #footer .social-platforms .platform h4 {
    font-size: 1.4rem;
  }

  #footer .what-offer {
    height: 100%;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }

  #footer .what-offer .offers {
    height: 100%;
    width: 9rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
  }

  #footer .what-offer .offers h4 {
    font-size: 1.2rem;
  }

  /* ******************* ABOUT MAIN ************************* */

  #about-main .page3 {
    height: fit-content;
    width: 100vw;
    padding-top: 6rem;
    background-color: var(--page-color);
    position: relative;
    box-shadow: inset 0px -10px 12px rgba(0, 0, 0, 0.14);
    padding-bottom: 2rem;
  }

  #about-main .about {
    font-size: 3rem;
    border-radius: 10px;
    text-align: center;
  }

  #about-main .about-para {
    height: fit-content;
    width: 100%;
    text-align: center;
    padding: 0 1.3rem 0 1.3rem;
  }

  /* ********************** CLASS ********************** */

  #class-main {
    min-height: 90%;
    width: 100%;
    background-color: var(--page-color);
  }

  #class-main > h2 {
    height: fit-content;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    padding-top: 7rem;
  }

  #class-main .classes {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem 2rem 4rem 2rem;
    flex-wrap: wrap;
    gap: 30px;
  }

  #class-main .classes .class {
    min-height: 40vh;
    width: 100%;
    background: var(--background);
    backdrop-filter: blur(10px);
    border: 1.6px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding-top: 0.7rem;
    padding-bottom: 1.5rem;
  }

  .allChapters .chapter .chapter-content .topics {
    height: 16rem;
    min-width: 14rem;
    overflow-y: scroll;
  }

  /* *************************** LOGIN PAGE ******************************** */

  #login-main {
    height: 100%;
    width: 100%;
    background-color: var(--page-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
  }

  .login-container {
    height: 95%;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 50px;
    border: 1.6px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 2rem;
  }

  .login-container > h3 {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-left: 0;
    text-align: center;
  }

  .login-container > h4{
  margin-left: 0;
}

  .input-fields {
    height: 80%;
    width: 100%;
  }

  .input-fields .input-bar {
    height: 2rem;
    width: 80%;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 10px;
    border: 1px solid gray;
  }

  .input-fields h3 {
    font-size: 1.7rem;
  }

  .login-container h4 {
    margin-top: 1.3rem;
    font-size: 1rem;
    text-align: center;
  }

  /* ************************** Subscription Page ************************* */

.subscription-main {
  min-height: 90%;
  width: 100%;
  background-color: var(--page-color);
  padding-bottom: 4rem;
}
.subscription-main > h2 {
  text-align: center;
  padding-top: 7rem;
  font-size: 3rem;
}

/*#subscription-main > .main-title {
  background-color: red;
}*/

.subscription-card {
  height: 28vh;
  width: 100%;
  background: var(--background);
  backdrop-filter: blur(10px);
  border: 1.6px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 1.8rem 0 0 2.2rem;
  overflow: hidden;
}

.subscription-card .chapter {
  max-width: 90%;
  height: fit-content;
  font-size: 2rem;
  margin-top: 2rem;
}

.subscription-card .join-btn {
  position: absolute;
  bottom: 1.3rem;
  left: 30%;
  font-size: 1.1rem;
  padding: 0.6rem 1.5rem 0.6rem 1.5rem;
  color: rgb(0, 0, 0);
  background-color: var(--background);
  border-radius: 50px;
  border: 1.6px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

}
